

@{
    ViewData["Title"] = "Index";
}


<h3> working </h3>

@*<div class="row justify-content-center justify-content-sm-start">
        <div class="col-12 col-sm-2">
            <a type="button" class="button btn-warning" asp-action="Dashboard"><span><i class="fa fa-chart-line"> Dashboard</i> </span></a>
        </div>
        <div class="col-12 col-sm-4 offset-sm-1 mt-5">
            <h1>Emloyee Login</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-sm-8 align-items-center">
            <div class="card" id="usercard">
                <div class="card-body text-center">
                    <p class="card-title">NAME: @Model.UserName</p>
                    <p class="card-title">EMAIL: @Model.Email</p>
                    <h5 class="card-text">ID: @Model.Id</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="d-grid gap-2">
                <button class="button button-start btn-warning"><span><i class="fa fa-users"> Discussion</i> </span></button>
            </div>
            <div class="d-grid gap-2 mt-5">
                <button class="button button-start btn-warning"><span><i class="fa fa-tasks"> Task</i> </span></button>
            </div>
            <div class="d-grid gap-2 mt-5">
                <a type="button" class="button button-start btn-warning" asp-controller="Employee" asp-action="CreateEntry"><span><i class="fa fa-folder-plus"> Entry</i> </span></a>
            </div>
            <div class="d-grid gap-2 mt-5">
                <button class="button button-start btn-warning"><span><i class="fa fa-user-cog"> Seetings</i> </span></button>
            </div>
        </div>
    </div>*@


