
@{
    ViewData["Title"] = "Login";
}

@model BusinessObjectLayer.Models.Login

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-3 p-2">
                <div class="card-header">
                    <h3 class="mb-0"> Login </h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <h5> Use registered email and password </h5>
                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3 col-sm-2 text-sm-end" asp-for="Email">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-form-label col-lg-3 col-sm-2 text-sm-end" asp-for="Password">Password</label>
                            <div class="col-sm-10">
                                <input type="Password" class="form-control" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-sm-10 ms-sm-auto">
                                <input class="btn btn-primary justify-content-center" type="submit" value="Login">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="form-group row">
                        <div class="col-lg-9">
                            <p class="col-md-10 offset-md-2 justify-content-center">
                                Don't have account? <a asp-action="Register"> Sign Up </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

